input[type=email]:valid {
    background-color:green;
}

input[type=email]:invalid {
    background:red;
            }   
input[type=url]:valid {
    background-color:green;
}

input[type=url]:invalid {
    background:red;
            }   
